
.main-container{
    justify-content: center;
    display: grid;
    align-items: center;
    border: 5px solid;
}

#option-container>div{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    margin: 5px;
}
#option-container{
    display: flex;
    justify-content: center;
}